<h5>使用ng-trans组件，带有components参数和options参数。设置key值前缀和翻译文本中的参数,params参数为：{{params|json}}</h5>
<p>
  翻译文本原文：{{'complexContent'| nbTrans:({prefix:'content'})}}
</p>

<div>
  <pre><code>{{compStr1}}</code></pre>
</div>

<div>
  <nb-trans key="complexContent" [components]="[com0,com1,com2]" [options]="{params,prefix:'content'}" />
</div>

<ng-template #com0 let-comContent="content" let-list="list">
  <b [nb-trans-subcontent]="comContent" [subcontentList]="list"></b>
</ng-template>

<ng-template #com1 let-comContent="content" let-list="list">
  <a [nb-trans-subcontent]="comContent" [subcontentList]="list"></a>
</ng-template>

<ng-template #com2 let-comContent="content">
  <b>{{comContent}}</b>
</ng-template>